rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Hackathon MVP ke liye sab allow kar rahe hain taaki demo smoothly chale
      allow read, write: if true;
    }
  }
}
